<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ description }}</title>
  <style media="screen">
    html {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    body {
      align-items: center;
      background-color: #ffffff;
      color: #888888;
      display: flex;
      flex-direction: column;
      font-family: Verdana, Arial, sans-serif;
      font-size: 16px;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .spinner {
      width: 100px;
    }
    .description {
      font-size: 1.25em;
      font-weight: 100;
    }
  </style>
</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="spinner">
    <circle cx="50" cy="50" fill="none" stroke="#888888"
      stroke-width="10" r="35" stroke-dasharray="165 55">
      <animateTransform attributeName="transform" type="rotate"
        calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1"
        dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
    </circle>
  </svg>
  <p class="description">{{ description }}</p>
</body>

</html>
